*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg ,orange, yellow);
}

.card{
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 44px 30px 44px 20px;
    background:linear-gradient(90deg ,orange, yellow) ;
    border-radius: 24px;
}
.card img {
    max-width: 280px;
    width: 36vh;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgba(163, 159, 159, 0.358);
    transition: border-radius 0.3s;
}

.card h2{
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
}


.card h3{
    font-size: 14px;
    font-weight: 400;
    margin:0;
    opacity: 0.75;
}

.card p{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
}

.socials> button{
    position: relative;
    border: 0;
    background: transparent;
    color: #f8f8f8;
    padding: 0;
}

.socials>button:first-child::before{
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left:50%;
    width: 52px;
}