* {
  box-sizing: border-box;
}

body {
  color: #fdfcfd;
  font-family: "Roboto Condensed", serif;
  margin: 0;
}
/* ----------------------------------------------------------------------------------------------------------------*/

                                                   /* top */

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background:linear-gradient(45deg, #cde4e4, #00ffff);
}

.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 44px 30px 44px 20px;
  background: #272524;
  border-radius: 40px;
}
  
.card img {
  max-width: 280px;
  width: 36vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border: 12px solid #3f3b39;
  border-radius: 60%;
  box-shadow: 0 0px 30px rgba(232, 232, 232, 0.429);
  transition: border-radius 0.3s;
}

a{
  text-decoration: none;
  color: white;
  display:flex;
}
 
.card h2 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0px;
}
  
.card h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  opacity: 0.75;
}

.card p {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.5;
}

.card h2, .card h3, .card p {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; 
  width: 0;
  animation: typing 2s steps(20, end) forwards, blink 0.5s step-end 2s forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
  100% { border-color: transparent; } 
}


.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}
  
.socials > button {
  position: relative;
  border: 0;
  background: transparent;
  color: #f8f8f8;
  padding: 0;
}

.socials > button:first-child::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  translate: -50% -50%;
  border-radius: 50%;
  background:linear-gradient(45deg, #cde4e4, #00ffff);
  transition: 0.3s;
  transform: translateY(0);
}
  
.socials > button > i {
  position: relative;
  z-index: 1;
  border: 4px solid #3f3b39;
  background: #3f3b39;
  display: grid;
  place-items: center;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
                                                      /* top */

/* ----------------------------------------------------------------------------------------------------------------*/

                                                       /* mid */

main{
  background-color: white;
}

.card-l, .card-r {
  background: #00ffff;
  box-shadow: 0 0px 30px rgba(10, 10, 10, 0.999);
  margin: 60px 0;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.card-r{
  border-radius: 140px 0 0 140px;
  margin-left: auto;
}

.card-l{
  border-radius: 0 140px 140px 0;
}

.card-l .png-rou {
  order: 2;
  margin-left: auto;
}


.card-r .png-rou {
  order: -1;
  margin-right: auto;
}

.png-rou {
  background-color: white;
  padding: 15px;
  border-radius: 150px;
}

.card-img {
  height: 250px;
  width: 250px;
}

                                                      /* mid */

/* ----------------------------------------------------------------------------------------------------------------*/

                                                   /* responsive */

@media (width <= 600px) {
  /* top */
  .card {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -100px 0 30px 0;
    width: 60%;
    max-width: 1000px;
    height: 250px;
  }

  .card p {
    max-width: 360px;
  }

  .socials {
    justify-content: center;
  }
  /* top */
  /* mid */

  /* mid */
}

@media (width <= 440px) {
  /* top */
  header{
    display: flex;
  }
  .card img {
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    border: 12px solid #3f3b39;
    box-shadow: none;
    margin: -140px 0 30px 0;
  }

  .card{
    align-self: center;
  }
  /* top */
  /* mid */

  /* mid */
}


                                                         /* responsive */